@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

* {
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* // max-width: revert; if you want to let it grow to, let's say, 120% */

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --background-color: #140b1e;
  --text-color: #9e78cf;
  --task-background-color: #15101c;
  --nav-color: ;
  --done-task-color: #78cfb0;
}

* {
  color: white;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

#selected-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

#project-title {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

#add-new-task-btn {
  margin-bottom: 2rem;
  background-color: #9e78cf;
  border: none;
  padding: 0.6rem 1.2rem;
}

#tasks-to-do-title {
  margin-bottom: 1rem;
}

#tasks-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 3rem;
}

.task-div {
  display: flex;
  background-color: var(--task-background-color);
  padding: 1rem 4rem;
  justify-content: space-between;
  align-items: center;
  gap: min(3rem);
}

.task-div button {
  color: var(--text-color);
  border: none;
  background-color: transparent;
}

.delete-task-btn {
  width: 2rem;
  height: auto;
}

#nav-toggle-btn {
  width: 2rem;
  height: auto;
}

nav button {
  border: none;
  padding: 0;
  background-color: transparent;
}

nav {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.384);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}

#nav-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#nav-projects-title {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: bolder;
  margin-bottom: 1rem;
}

#add-new-project-btn {
  margin-bottom: 2rem;
  background-color: #9e78cf;
  border: none;
  padding: 0.2rem 0.6rem;
  margin-left: 8px;
}

.project-element {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.delete-project-btn {
  width: 1.6rem;
}

.done-task {
  color: var(--done-task-color);
  text-decoration: line-through;
}
